<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Edit</title>
</head>
<body>
    
</body>
</html>
<h2>EDit Post</h2>
    <form method="post" action="/posts/<%= post.id%>?_method=PATCH">
        <h3>Post id : <%=post.id %></h3>
        <h3>Post username : <%=post.username%></h3>
        <textarea name="content" required><%= post.content %></textarea>
        <br>
        <br>
        <button type="submit">Update Post</button>
    </form>