<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Username" required>
        <br>
        <br>
        <textarea name="content" placeholder="Content" required></textarea>
        <br>
        <br>
        <button type="submit">Add Post</button>
    </form>
</body>
</html>